*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
    background: url('Backgr.jpg');
}
header{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}
header .grp{
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
}
li{
    list-style: none;
}
.nav-H ul{
    display: flex;
    margin-left: 25px;
}
.nav-H a{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 750;
    padding: 20px;
}
.nav-H a:hover{
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.nav-B ol{
    display: flex;
    margin: 25px 0 0 20px;
}
.nav-B a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 550;
    padding-right: 15px;
}
.nav-B a:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}
.nav-B span{
    color: white;
    padding: 0 15px 0 15px;
}
main{
    margin: 30px 0 0 20px;
}
main h1{
    color: #cc2d0d;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}
main p{
    margin-top: 15px;
    font-size: 13px;
    line-height: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
}
section{
    display: flex;
}
section div{
    border: 3px solid white;
    width: 350px;
    margin-top: 50px;
    text-align: center;
    line-height: 22px;
    margin-right: 15px;
    background-color: black;
}
section div img{
    width: 90%;
    margin: 5%;
}
section div h3{
    color: white;
    font-family: cohaerentia;
    margin-bottom: 25px;
}
.t1{
    color: darkgray;
}
.t2,a{
    color: #cc2d0d;
}
.t3{
    color: antiquewhite;
}

@media screen and (max-width: 698px){
    body{
    margin: 10px; 
    padding: 0%;   
    }
    header .grp{
        display: block;
    }
    .logo{
        width: 100%;  
        margin-bottom: 20px;   
    }
    .nav-H ul{
        justify-content: space-around;
        margin: 0;
        padding: 0 30px;
    }
    .nav-H a{
        font-size: 17px;
        padding: 0px;
    }
    .nav-B ol{
        justify-content: center;
        margin-left: 0;
    }
    .nav-B a{
        font-size: 15px;
        color: bisque;
    }
    main h1{
        font-size: 35px;
    }
    main p{
        font-size: 15px;
        width: auto;
    }
    section{
        flex-wrap: wrap;
        justify-content: center;
    }
    section div{
        width: 80%;
    }
    section div h3{
        font-size: 40px;
    }
    .t1{
        font-size: 20px;
    }
    .t2,a{
        font-size: 20px;
    }
    .t3{
        font-size: 20px;    
    }
}
@media screen and (max-width: 530px){
    .nav-H a{
        font-size: 10px;
    }
    .nav-B ol{
        margin: 10px;
    }
    .nav-B a{
        font-size: 9px;
    }
    main{
        margin: 20px 0 0 20px;
    }
    main h1{
        font-size: 15px;
    }
     main p{
        font-size: 10px;
    }
    section div{
        margin-top: 25px;
    }
}
@media print {
    body header{
        display: none;
    }
    section{
        flex-wrap: wrap;
    }
    section div{
        width: 25%;
        border: 1px solid black;
    }
}